html{
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
body{
  height: 100%;
  width: 100%;
}
.trapezoid{
  position: absolute;
  top:0px;
  bottom: 0px;
  left:65%;
  right:-20%;
  background-image: url("../../../assets/images/backgrounds/grey-paper.png");
  transform: skew(-20deg);
}

.bg-img-wrapper{
  z-index: -1;
  overflow: hidden;
  height: 100%;
}

.background{
  z-index: -1;
  margin-top: -10%;
  min-height: 125%;
  width: 75%;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .background{
    width: 81%;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .background{
    width: 78%;
  }
}

@media (min-width: 1400px){
  .background{
    width: 75%;
  }
}
