html{
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
body{
  height: 100%;
  width: 100%;
}
.trapezoid{
  position: absolute;
  top:0px;
  bottom: 0px;
  left:65%;
  right:-20%;
  background-image: url("../../../assets/images/backgrounds/grey-paper.png");
  transform: skew(-15deg);
}
.picture {
  position: absolute;
  top: -20%;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: -1;
  background-image: url("../../../assets/images/backgrounds/upenn.png");
}
