html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

/*
=============
Section 1 CSS
=============
*/

.section-1 {
  height: 100%;
}

.caller-h2 {
  font-size: 50px;
  font-family: avn-demi;
}

.caller-h5 {
  font-size: 20px;
  font-family: avn-regular;
}

.background-white {
  background: white;
}

.background-crimson {
  background: crimson;
}

.section-1-left-middle-content {
  color: crimson;
  font-family: avn-regular;
  width: 70%;
  position: absolute;
  text-align: right;
  top: 40%;
  left: 60%;
  transform: translate(-50%, -50%);
}

.section-1-left-bottom-content {
  font-family: avn-demi;
  width: 70%;
  position: absolute;
  text-align: center;
  bottom: 5%;
  left: 20%;
}

#quoter {
  font-size: 20px;
  color: black;
  font-family: avn-bold;
  top:60%;
}

.section-1-right-middle-content {
  color: white;
  width: 70%;
  position: absolute;
  text-align: left;
  top: 45%;
  left: 50%;
  transform: translate(-60%, -30%);
}

/*
=============
Section 2 CSS
=============
*/
.section-2 {
    margin: 30px 0px;
}

.vertical-text{
  text-align:right;
  font-size: 30px;
	color:crimson;
  position: absolute;
	white-space: nowrap;
  right: 0px;
  top: -20px;
  transform: rotate(270deg);
  transform-origin:bottom right;
  letter-spacing: 1px;
  font-family: avn-demi;
}

.vertical-text span {
  color: gray;
  font-size: 20px;
}

#sc-3 {
  color: white;
  line-height: 30px;
}

.top-buffer{
  margin-top: 20px;
}

.top-buffer-2 {
  margin-top: 20px;
}

.xs-sm-only{
  display: none;
}

/*
=============
Section 3 CSS
=============
*/
.section-3{
  height: 100%;
  max-height: 1000px;
  background-color: black;
}
.panel-title-card{
  height: 100%;
  width: 100%;
  background: blue;
}
.sp-slim-pd {
  padding: 5px 3px;
}

.no-padding {
  padding: 0px;
}

.min-padding {
  padding: 5px;
}
