@media (max-width: 400px) {
  .s1-sm-sp-1 {
    width: 100%;
    padding-left: 5%;
    padding-top: 6%;
    padding-bottom: 5%;
    text-align: left;
  }

  .s1-sm-sp-1 p {
    color: white;
    font-family: avn-regular;
    font-size: 12px;
    text-align: left;
  }

  .s1-sm-sp-1 strong {
    color: white;
    font-size: 15px;
    font-family: avn-demi;
  }

  .s1-sm-sp-2 {
    width: 100%;
    padding-left: 5%;
    padding-bottom: 6%;
    text-align: left;
  }

  .s1-sm-sp-2 .caller-h5 {
    font-family: avn-medium-i;
    font-size: 18px;
  }

  .s1-sm-sp-3 {
    width: 100%;
    padding-right: 5%;
    padding-top: 6%;
    text-align: right;
  }

  .s1-sm-sp-3 .caller-h2 {
    color: crimson;
    text-align: right;
    font-size: 40px;
    letter-spacing: 1px;
    font-family: avn-medium;
  }

  .s1-sm-sp-4 {
    width: 100%;
    padding-right: 5%;
    padding-top: 6%;
    text-align: right;
  }

  .s1-sm-sp-4 .caller-h5 {
    font-family: avn-medium;
    font-size: 15px;
    color: black;
  }

  .s1-sm-sp-5 {
    width: 100%;
    padding-right: 5%;
    padding-top: 6%;
    text-align: right;
  }

  .s1-sm-sp-5 .caller-h5 {
    font-family: avn-medium;
    font-size: 20px;
    color: grey;
  }





  .vertical-text {
    text-align:left;
    font-size: 30px;
    color:crimson;
    position: relative;
    white-space: nowrap;
    right: 0px;
    top: 0px;
    transform: none;
    transform-origin: none;
    font-family: avn-demi;
  }

  #sc-3-main {
    color: white;
    text-align: right;
  }

  #sc-3-sub {
    color: gray;
    text-align: right;
    font-size: 20px;
  }

  .sm-hide {
    display: none;
  }

  .sm-container-1 {
    padding-left: 0px;
    padding-right: 0px;
    margin: 10px;
    margin-left: 25px;
  }

  .sm-container-2 {
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
  }

  .top-buffer-2 {
    margin-top: 0px;
    margin: 0px;
    padding: 0px;
    height: 100px;
  }

  .top-buffer{
    margin-top: 10px;
  }

  .xs-sm-only {
    display: block;
  }

  .section-3-sm {
    background: black;
  }


  .xs-sp-txt-1 {
    padding: 0px;
    margin-left: -10px;
  }

  .section-2 {
    min-height: 100%;
    margin: 0px;
  }

  .s3-sm-sp-1:hover {
    -webkit-filter: none;
    filter: none;
  }

  .s3-sm-sp-1 h2 {
    text-align: right;
    font-family: avn-demi-i;
  }




}
