@font-face {
  font-family: "ThomasMag-reg";
  src: url("../../../assets/fonts/Thomas Mag Regular.otf");
  src:
  url("../../../assets/fonts/Thomas Mag Regular.otf") format("opentype");
}

html{
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: red;
}

body{
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.row{
  background-color: red;
  border-style: solid;
  border-width: 5px;
  border-color: black;
}

.col{
  background-color: blue;
  border-style: solid;
  border-width: 5px;
  border-color: black;
}
